* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  height: 100dvh;
}

:root {
  --orange: #D1884F;
  --darkblue: #008AAA;
  --lightblue: #3BBADB;
}

/* Navbar */

nav {
  padding: 4rem 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 0 1rem;
}


.nav-text {
  padding: 0 0.5rem;
  cursor: pointer;
}


/* main  */

main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: max-content;
}

/*  text section */
section {
  display: flex;
  flex-direction: column;
  gap: 1.8rem 0;
}

/* titles */

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.light-blue-text {
  color: var(--lightblue);
}

.dark-blue-text {
  color: var(--darkblue);
}


/* giant text */
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.orange-text {
  color: var(--orange);
}

/* description and see more */

p {
  max-width: 35rem;
}

.label {
  font-style: italic;
  font-weight: 400;
  color: var(--lightblue);
}



/* image */

aside {
  display: flex;
  align-items: center;
  justify-content: center;
}


.self-image {
  max-width: 350px;
  object-fit: contain;
  border-radius: 0 0 0 50%;
  position: relative;
  z-index: 5;
}

.image-border {
  position: relative;
  display: inline-block;
}

.image-border::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  transform: rotate(-3deg);
  width: 100%;
  height: 95%;
  /* Should match the width for a circle */
  background-color: var(--lightblue);
  border-radius: 0 0 0 50%;
}


/* CTA buttons */
.CtaButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

button {
  padding: 0.2rem 1.5rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

button:hover {
  cursor: pointer;
}


.hire-me {
  background-color: var(--darkblue);
  border-color: var(--darkblue);
  color: white;
}

.hire-me:hover {
  background-color: var(--lightblue);
}

.see-projects {
  color: var(--darkblue);
  border-color: var(--lightblue);

  background-color: white;
}

.see-projects:hover {
  color: white;
  background-color: var(--lightblue);
}

/* Change nav link color */

[name="nav-radio"] {
  display: none;
}

#home-radio:checked~ul li:nth-child(1),
#about-radio:checked~ul li:nth-child(2),
#contact-radio:checked~ul li:nth-child(3) {
  color: var(--orange);
}

/* Show See more  */

.toggle {
  display: none;
}

.label {
  cursor: pointer;
}

.toggle:checked~.label {
  display: none;
}

.toggle:checked~.more {
  display: inline;
}

.more {
  display: none;
}

/* Tablet and mobile */


@media (max-width: 1000px) {
  nav ul {
    justify-content: center;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  @media (max-width: 600px) {
    nav {
      padding: 2rem 1rem;
    }

    .nav-text {
      display: none;
    }

    h1 {
      font-size: 1.8rem;
    }

    p {
      text-align: center;
      font-size: 0.8rem;
      max-width: 20rem;
    }

    section {
      align-items: center;
      gap: 1rem 0;
    }

    .self-image {
      max-width: 250px;
    }

    .CtaButtons {
      display: initial;
    }

    button {
      padding: 0.1rem 0.5rem;
      border-radius: 0.3rem;
      font-size: 1.1rem;
    }
  }
}